body {
    align-items: center;
    background: #DBBDCC;
    background: linear-gradient(to right bottom, #ECBDAF, #DBBDCC);
    display: flex;
    height: 100vh;
    justify-content: center;
}

img {
    max-height: 50vh;
    width: 40vw;
}